# =============================================================================
# DEPRECATION WARNING:
#
# The file `requirements.txt` does not influence the package dependencies and
# will not be automatically created in the next version of PyScaffold (v4.x).
#
# Please have look at the docs for better alternatives
# (`Dependency Management` section).
# =============================================================================
#
# Add your pinned requirements so that they can be easily installed with:
# pip install -r requirements.txt
# Remember to also add them in setup.cfg but unpinned.
# Example:
# numpy==1.13.3
# scipy==1.0
#
alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
astroid==2.4.2
attrs==20.1.0
Babel==2.8.0
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
check-manifest==0.42
click==7.1.2
coverage==5.2.1
distlib==0.3.1
docutils==0.16
execnet==1.7.1
fastapi==0.61.1
filelock==3.0.12
Flask==1.1.2
glob2==0.7
h11==0.9.0
httpcore==0.10.2
httptools==0.1.1
httpx==0.14.3
identify==1.4.30
idna==2.10
imagesize==1.2.0
iniconfig==1.0.1
isort==5.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
mypy==0.782
mypy-extensions==0.4.3
nodeenv==1.5.0
packaging==20.4
parse==1.17.0
parse-type==0.5.2
pep517==0.8.2
pluggy==0.13.1
pre-commit==2.7.1
py==1.9.0
pydantic==1.6.1
Pygments==2.6.1
pylint==2.6.0
pyparsing==2.4.7
PyScaffold==3.2.3
pytest==6.0.1
pytest-asyncio==0.14.0
pytest-bdd==3.4.0
pytest-cov==2.10.1
pytest-forked==1.3.0
pytest-html==2.1.1
pytest-metadata==1.10.0
pytest-randomly==3.4.1
pytest-xdist==2.1.0
python-multipart==0.0.5
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rfc3986==1.4.0
rstcheck==3.3.1
setuptools-scm==4.1.2
six==1.15.0
sniffio==1.1.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
starlette==0.13.6
toml==0.10.1
tox==3.20.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
utils==1.0.1
uvicorn==0.11.8
uvloop==0.14.0
virtualenv==20.0.31
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
wheel==0.35.1